@import '../../assets/style/variables';

body {
  padding-bottom: 50px;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $orange-main;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 50px;
  font-family: $bold-font;
  font-size: 25px;
  .left {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-left: 10px;
    .total-price {
      margin-left: 10px;
      color: $white;
    }
  }
  .continue-button {
    margin-right: 10px;
  }
}
