// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;
// Small tablets (portrait view)
$screen-md: 768px;
// Tablets and small desktops
$screen-lg: 992px;
// Large tablets and desktops
$screen-xl: 1200px;

$regular-font: 'roboto-regular';
$bold-font: 'roboto-bold';
$light-font: sans-serif;
$main-color: cadetblue;
$grey-darker: #000;
/// COLORS ///

$black: #000000;

$error-content: #ff805c;
$error-invalid: #d31e1e;

$validation-content: #1ed351;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

$green-success: #4caf50;
$red-failure: #8e001c;
$yellow-skip: #cf7442;
$blue-neutral: #0074d9;

$background-gray: #1b1b1b;
$emphasis-gray: #292929;
$light-gray: #4E4E4E;
$white: #ffffff;
$orange-main: #F6921E;

/// MARGINS
//$margin-small: 15px;